@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: LeagueGothic;
  src: url(fonts/LeagueGothic-Regular.otf);
}

@font-face {
  font-family: Gilroy;
  src: url(fonts/Gilroy-Regular.ttf);
}

:root {
  --blue: #211f3f;
  --dark-blue: #161b2c;
  --light: #e0e6ff;
  --chocolate: #3f331f;
  --dark-brown: #2c2416;
  --steam-color: #1B2838;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: gilroy; */
  /* font-family: LeagueGothic; */
  font-family: "Poppins", sans-serif;
}

html,
body {
  /* position: relative; */
  height: 100%;
}

body {
  background: var(--dark-blue);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}


.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 50vw;
  height: 70vh;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  cursor: default;
  border-radius: .5rem;
}


.swiper-slide h1{
  position: absolute;
  top: 50%;
  z-index: 999;
  font-size: 5vw;
  font-weight: 600;
  display: none;
}

#second-main {
  border-radius: 2%;
  width: 100%;
  /* background-color: var(--chocolate); */
  position: absolute;
  z-index: 2000;
  color: black;
}



#first, #second, #third{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}


.cards{
  height: 80vh;
  padding: 2rem 2rem;
  border-radius: 5%;
}

.cards h1{
  text-transform: capitalize;
  font-weight: bold;
  font-size: 3rem;
}


.marque-effect .move{
  animation-name: marquee;
  animation-duration: 25s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
  display: flex;
  gap: 2rem;
  white-space: nowrap;
  padding: 0 5vw;
}
.marque-effect .move:hover{
  animation-play-state: paused;
}


.marquee-cards{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  height: 100%;
  background-color: var(--blue);
  width: 20vw;
  border-radius: .5rem;
  overflow: hidden;
  cursor: pointer;
}


@keyframes marquee{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-48%);
  }
}

.img-section{
  width: 100%;
  height: 65%;
  background-color: orangered;
  overflow: hidden;
}

.marquee-cards img{
  height: 100%;
  width: 100%;
}

.marquee-cards:hover .marquee-img{
  transform: scale(1.05);
}


.blur-left{
  width: 25%;
  height: 100%;
  background-color: var(--dark-blue);
  z-index: 800;
  background: linear-gradient(to right, var(--dark-blue), transparent);
  pointer-events: none;
}


.blur-right{
  width: 40%;
  height: 100%;
  background-color: var(--dark-blue);
  z-index: 800;
  background: linear-gradient(to left, var(--dark-blue), transparent);
  pointer-events: none;
}


.offer-left{
  background-color: #CC7722;
}

.offer-r-top{
  background-color:  #090446;
  color: white;
}

.offer-r-bottom{
  background-color: #FFFDF7;
}

.offer-left h1{
 font-size: 1.5rem;
 font-weight: 600;
}

.offer-r-top p{
  font-size: 1rem;
  text-decoration: line-through;
}

.offer-r-bottom p{
  font-size: 1.1rem;
  font-weight: 800;
}

.offer-section{
  background: linear-gradient(220.55deg, #203c54 0%, #0b1d3d 100%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.offer{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.footer{
  font-family: 'gilroy';
}


.footer-title span{
  font-family: 'gilroy';
  position: relative;

}






@media screen and (max-width: 600px) {
  .swiper-slide {
    width: 80vw;
    height: 30vh;
  }
  .swiper-slide img {
    width: 100%;
    height: 100%;
  }
  #first,
  #second,
  #third {
    flex-direction: column;
    gap: 1rem;
  }
  .cards h1{
    font-size: 1.8rem;
  }
  .marquee-cards{
    width: 60vw;
    height: 70%;
  }
  .blur-left{
    width: 5%;
  }
  .blur-right{
    width: 5%;
  }
  .footer-top a{
    font-size: 3vw;
  }
  .valve-links a{
    font-size: 2.5vw;
    text-align: center;
  }
  .offer h1{
    font-size: 1.2rem;
    font-weight: bolder;
  }
  .offer p{
    font-size: .8rem;
    font-weight: bold;
  }


}
