@import 'node_modules/locomotive-scroll/dist/locomotive-scroll';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');



@font-face {
  font-family: Gilroy;
  src: url(fonts/Gilroy-Regular.ttf);
}

@font-face {
  font-family: azonix;
  src: url(fonts/Azonix.otf);
}


@font-face {
  font-family: gosha;
  src: url(fonts/PPGoshaSans-Bold.otf);
}

@font-face {
  font-family: redtrap;
  src: url(fonts/RedtrapExpandedPuo-woG33.otf);
}

@font-face {
  font-family: abc;
  src: url(fonts/ABCWhyteVariable.8506f1e8.woff2);
}

:root {
  --blue: #211f3f;
  --dark-blue: #161b2c;
  --light: #e0e6ff;
  --chocolate: #3f331f;
  --dark-brown: #2c2416;
  --steam-color: #1B2838;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  background: var(--dark-blue);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.img-crsr{
  transition: all .1s ease;
  transform-origin: center;
  /* mix-blend-mode: difference; */
  /* opacity: .2; */
  pointer-events: none;
}

.category-crsr{
  transform-origin: center;
  pointer-events: none;
}

.inner-circle{
  background-color: #0000009e;
}


.vdo-btn{
  transition: all linear .2s;
}

.vdo-btn:hover{
  transform: translateX(-50%) scale(1.2);
}


.overlay{
  background-color: rgba(0, 0, 0, 0.676);
}


.rounded-div-wrapper{
  z-index: 1200;
}

/* .nav-menu{
  background-image: url(nav-bg.jpg);
  background-position: center;
  background-size: cover;
} */
/* 
.rounded-div{
  background-image: url(images/gradient/grad.jpg);
  background-size: cover;
  background-position: bottom;
} */

.nav-menu h1{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-family: abc;
  font-size: 4vw;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  color: white;
  line-height: 4.2vw;
  letter-spacing: -3px;
  padding: 0 20px 0 6px;
}

.nav-menu h1:hover{
  background-color: white;
  color: black;
}

.category-page{
  background-image: url(images/gradient/grad.jpg);
  /* background-color: var(--light); */
  /* background-image: url(rpg.jpg); */
  /* background-color: #104E73; */
  /* background: linear-gradient(to bottom, #104E73, #104E73); */
  /* background: linear-gradient(to bottom, #CFE5D9, #1E5977); */
  background: linear-gradient(to bottom, #CFE5D9, #114361);
  background-size: cover; 
  background-position: center;
}


.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 50vw;
  height: 70vh;
  overflow: hidden;
  border-radius: .5rem;
}

.swiper-slide img {
  cursor: pointer;
  display: block;
  width: 50vw;
  height: 70vh;
  border-radius: .5rem;
  transition: all .2s linear;
}

.swiper-slide img:hover{
  transform: scale(1.05);
}


.swiper-slide h1{
  position: absolute;
  left: -10%;
  text-shadow: 5px 5px 10px black;
  font-family: redtrap;
  color: white;
  top: 50%;
  z-index: 999;
  font-size: 5vw;
  font-weight: 600;
  line-height: 5vw;
  opacity: 0;
  transform: scale(0);
  transition: all linear .5s;
  display: none;
}

.swiper-slide-active .imgtext{
  opacity: 1;
  transform: scale(1);
}




.marque-effect .move{
  animation-name: marquee;
  animation-duration: 25s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
  display: flex;
  gap: 2rem;
  padding: 0 5vw;
}
.marque-effect .move:hover{
  animation-play-state: paused;
}


.marquee-cards{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  height: 100%;
  background-color: var(--blue);
  width: 20vw;
  border-radius: .5rem;
  overflow: hidden;
  cursor: pointer;
}


@keyframes marquee{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-48%);
  }
}

.img-section{
  width: 100%;
  height: 65%;
  overflow: hidden;
}

.marquee-cards img{
  height: 100%;
  width: 100%;
  transition: all .4s ease;
}

.marquee-cards:hover .marquee-img{
  transform: scale(1.05);
}



.blur-left{
  width: 25%;
  height: 100%;
  background-color: var(--dark-blue);
  z-index: 800;
  background: linear-gradient(to right, var(--dark-blue), transparent);
  pointer-events: none;
}


.blur-right{
  width: 40%;
  height: 100%;
  background-color: var(--dark-blue);
  z-index: 800;
  background: linear-gradient(to left, var(--dark-blue), transparent);
  pointer-events: none;
}

.offer-left{
  background-color: #CC7722;
}

.offer-r-top{
  background-color:  #090446;
  color: white;
}

.offer-r-bottom{
  background-color: #FFFDF7;
}

.offer-left h1{
  font-family: azonix;
 font-size: 1.5rem;
 font-weight: 600;
}

.offer-r-top p{
  font-size: .8rem;
  font-family: azonix;
  text-decoration: line-through;
}

.offer-r-bottom p{
  font-family: azonix;
  font-size: 1.1rem;
  font-weight: 800;
}

.offer-section{
  background: linear-gradient(220.55deg, #203c54 0%, #0b1d3d 100%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.offer{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.clicked-category{
  background-color: rgba(0, 0, 0, 0.551);
}
/* .category-side-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background: linear-gradient(to right, black, transparent);
} */

.circle{
  position: absolute;
  width: 200vh;
  height: 200vh;
  top: 50%;
  left: 190vh;
  transform: translateY(-50%) rotate(360deg); 
}


.stripe{
  /* background-color: yellowgreen; */
  position: absolute;
  top: 50%;
  left: -50%;
  transform: translateY(-50%);
  transform-origin: 100% 50%;
  width: 100%;
  height: 50px;
  display: flex;
}

.stp1{
  transform: translateY(-50%) rotate(150deg);
}

.stp2{
  transform: translateY(-50%) rotate(100deg);
}

.stp3{
  transform: translateY(-50%) rotate(50deg);
}

.stp4{
  transform: translateY(-50%) rotate(0deg);
}

.stp5{
  transform: translateY(-50%) rotate(-50deg);
}

.stp6{
  transform: translateY(-50%) rotate(-100deg);
}

.stp7{
  transform: translateY(-50%) rotate(-150deg);
}

.first{
  width: 50%;
  height: 100%;
  /* background-color: yellow; */
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.first img{
  width: 30vw;
  height: 45vw;
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  -webkit-filter: drop-shadow(5px 15px 10px #222);
  filter: drop-shadow(5px 15px 5px #222);
}

.stp6>.first>img{
  height: 40vw;
}

.sec{
  position: relative;
  width: 50%;
  height: 100%;
}

.smcircle{
  position: absolute;
  left: .3vw;
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  font-size: 4vw;
  font-weight: bolder;
}

.first h1{
  color: black;
  font-size: 2vw;
}

.panel{
  /* border-left: 2px solid var(--dark-blue); */
  padding: 0 1rem;

}


.panel h2{
  color: var(--dark-blue);
  /* color: white; */
  /* color: rgb(37, 36, 36); */
  font-size: 2.5vw;
  cursor: pointer;
  /* text-transform: uppercase; */
  /* font-weight: bold; */
  line-height: 3.7vw;
}


.panel h2:hover{
  /* color: #171D25; */
  color: var(--light);
}


.new-and-trending{
  background-image: url(images/img-1-apexlegends.jpg);
  background-position: center;
  background-size: cover;
}




.text-circle{
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: red;
  z-index: 1000000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}





/* ------------------------- STEAM GIFT CARDS SECTION --------------------------- */

.steam-gift-cards{
  background: linear-gradient(to bottom, #104E73, #1B2838);
  overflow: hidden;
}

.explore-title{
  text-shadow: 3px 3px 2px rgba(6, 0, 0, 1);
}


.left-cont img, .right-cont img{
  position: absolute;
  width: 320px;
  top: 60%;
  transform: translateY(-50%);
  /* transition: all .3s ease-in; */
  -webkit-filter: drop-shadow(5px 15px 10px #222);
  filter: drop-shadow(5px 5px 5px #222);
}



@keyframes fadeLastImg {
  0%{
      opacity: 1;
  }
  100%{
      opacity: .3;
  }
  
}

.card1{
  height: 35%;
  right: 65%;
  border-radius: 10px;
  z-index: 0;
  transition: all .3s ease-in;
  opacity: .3;
  animation-name: fadeLastImg;
  animation-duration: .3s;
}


.card2{
  height: 45%;
  right: 60%;
  border-radius: 10px;
  z-index: 1;
  transition: all .3s ease-in;
}

.card3{
  height: 55%;
  right: 45%;
  border-radius: 10px;
  z-index: 2;
  transition: all .3s ease-in;
}

.card4{
  height: 65%;
  right: 30%;
  border-radius: 10px;
  z-index: 3;
  transition: all .3s ease-in;
}

.card5{
  height: 75%;
  right: 15%;
  border-radius: 10px;
  z-index: 4;
  transition: all .3s ease-in;
}

.card6{
  height: 90%;
  right: 0;
  z-index: 5;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transition: all .05s ease-in;
  float: right;
  animation-name: splitOutLeft;
  animation-duration: .4s;
}


@keyframes splitOutLeft{
  0%{
      width: 0%;
  }
  100%{
      width: 320px;
  }
}





.rcard1{
  height: 35%;
  left: 65%;
  z-index: 0; 
  border-radius: 10px;
  transition: all .3s ease-in;
  opacity: .3;
  animation-name: fadeLastImg;
  animation-duration: .3s;
}


.rcard2{
  height: 45%;
  left: 60%;
  z-index: 1;
  border-radius: 10px;
  transition: all .3s ease-in;
}

.rcard3{
  height: 55%;
  left: 45%;
  z-index: 2;
  border-radius: 10px;
  transition: all .3s ease-in;
}

.rcard4{
  height: 65%;
  left: 30%;
  z-index: 3;
  border-radius: 10px;
  transition: all .3s ease-in;
}

.rcard5{
  height: 75%;
  left: 15%;
  z-index: 4;
  border-radius: 10px;
  transition: all .3s ease-in;
}

.rcard6{
  height: 90%;
  left: 0;
  z-index: 5;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all .05s ease-in;
  animation-name: splitOutLeft;
  animation-duration: 0.3s;
}


/* -------------------- EXPLORE MORE SECTION ---------------------- */
.explore-page{
  /* background-color: #111b26; */
  /* background: rgb(26,42,59);
background: linear-gradient(82deg, rgba(26,42,59,1) 0%, rgba(17,76,112,1) 54%, rgba(57,101,122,1) 100%); */
background: rgb(17,76,112);
background: radial-gradient(circle, rgba(17,76,112,1) 0%, rgba(26,42,59,1) 68%, rgba(57,101,122,1) 100%);
background: rgb(26,42,59);
background: linear-gradient(90deg, rgba(26,42,59,1) 0%, rgba(17,76,112,1) 50%, rgba(27,69,94,1) 100%);
}

.selected-section{
  transition: all .4s linear;
}

.exp-titles{
  cursor: pointer;
}


.slice{
  width: 90%;
  height: 400px;
  border: 1px solid var(--light);
  transition: all .2s linear;
  background: rgba(35, 31, 31, 0.107);
  position: relative;
  transform: scale(.7);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7vw;
  overflow: hidden;
  border-radius: 10px;
  z-index: 100;
}

.slice-overlay{
  position: absolute;
  width: 100%;
  /* height: 100%; */
  height: 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.264);
  z-index: -1;
}

.slice:hover .slice-overlay{
  height: 100%;
}

.slice-img{
  width: 20rem;
  height: 14rem;
  border-radius: 2px;
  transform: translateX(-50%) scale(0);
  transform-origin: center;
  transition: all .2s linear;
} 

/* .slice::after{
  content: "";
  position: absolute; 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.519);
  border: none;
  border-radius: 10px;
} */

.slimg1{
  width: 13rem;
  height: 20rem;
  transform: translateX(-50%) scale(0);
  transform-origin: center;
  transition: all .2s linear;
}

.slice:hover{
  background-size: cover;
  color: #000;
  padding: 0 3rem;
  border: none;
}

.slice:hover .slice-img{
  transform: translateX(-50%) scale(1.15);
} 
.slice:hover .slimg1{
  transform: translateX(-50%) scale(1.15);
} 
/* .slice:hover .slice-title {
  color: black;
} 
.slice:hover .slice-ico {
  color: black;
} 
.slice:hover .slice-r-text {
  color: black;
}  */

.slice-left-r p{
  display: flex;
  gap: 5px;
}

.slice-left-r p span{
  font-family: gilroy;
  font-weight: bold;
  /* border: 1px solid #dadada;
  background-color: #111b26; */
  /* border: 1px solid greenyellow; */
  color: #022C22;
  background-color: #22C55E;
  border-radius: 5px;
  padding: 2px 6px;
}


.slice-left-r p span:nth-child(2){
  background-color: #60A5FA;
}
.slice-left-r p span:nth-child(3){
  background-color: #F43F5E;
}
.slice-left-r p span:nth-child(4){
  background-color: #FACC15;
}

.nt-slice:nth-child(1):hover{
  background-image: url(explore-imgs/alice.jpg);
  background-position: center;
}

.nt-slice:nth-child(2):hover{
  background-image: url(explore-imgs/black-myth.jpg);
  background-position: center;
}

.nt-slice:nth-child(3):hover{
  background-image: url(explore-imgs/empires-of-undergrowth.jpg);
  background-position: bottom;
}

.nt-slice:nth-child(4):hover{
  background-image: url(explore-imgs/killer-klowns.jpg);
  background-position: center;
}

.nt-slice:nth-child(5):hover{
  background-image: url(explore-imgs/alice.jpg);
  background-position: center;
}

.nt-slice:nth-child(6):hover{
  background-image: url(explore-imgs/alice.jpg);
  background-position: center;
}


/* ---- top seller section ----  */

.ts-slice:nth-child(1):hover{
  background-image: url(explore-imgs/black-myth.jpg);
  background-position: center;
}

.ts-slice:nth-child(2):hover{
  background-image: url(explore-imgs/counter-strike.jpg);
  background-position: top;
}

.ts-slice:nth-child(3):hover{
  background-image: url(explore-imgs/destiny-2.jpg);
  background-position: center;
}

.ts-slice:nth-child(4):hover{
  background-image: url(explore-imgs/sf.jpg);
  background-position: top;
}

.ts-slice:nth-child(5):hover{
  background-image: url(explore-imgs/dota-2.jpg);
  background-position: center;
}

.ts-slice:nth-child(6):hover{
  background-image: url(explore-imgs/elden-ring.jpg);
  background-position: top;
}



/* ------------------------- FOOTER ------------------------- */

.footer{
  font-family: 'gilroy';
}


.footer-title span{
  font-family: 'gilroy';
  position: relative;

}

.footer-bottom{
  cursor: pointer;
}

.footer-bottom h1::selection{
  background-color: black;
  color: white;
}

.footer-circle{
  top: 0;
  left: 0;
  mix-blend-mode:darken;
  transform: translate(-50%, -50%) scale(0);
}

.navicon{
  margin-right: 1rem;
  font-size: 2.8rem;
}


/* ---------------------- RESPONSIVENESS ------------------------ */

@media screen and (max-width: 600px) {
  .swiper-slide {
    width: 80vw;
    height: 30vh;
  }
  .swiper-slide img {
    width: 100%;
    height: 100%;
  }
  #first,
  #second,
  #third {
    flex-direction: column;
    gap: 1rem;
  }
  .cards h1{
    font-size: 1.8rem;
    
  }
  .marquee-cards{
    width: 60vw;
    height: 70%;
  }
  .blur-left{
    width: 5%;
  }
  .blur-right{
    width: 5%;
  }
  .footer-top a{
    font-size: 3vw;
  }
  .valve-links a{
    font-size: 2.5vw;
    text-align: center;
  }
  .offer h1{
    font-size: 1.2rem;
    font-weight: bolder;
  }
  .offer p{
    font-size: .8rem;
    font-weight: bold;
  }


}